<!DOCTYPE html>
<!-- this imports static files, like css or images -->
{% load static %}
<html lang="en">
<head>

    <title>Coola Books</title>
    <!-- pulling up CSS and bootstrap styles -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
</head>
<style>

</style>
<body>

<!-- Navbar -->
{% include 'partials/_navbar.html' %}

<!-- this code shows any updates rendered using messages (account successfully created) -->
{% if messages %}
{% for message in messages %}
<div class="text-center alert alert-{{ message.tags }} mt-5">
    {{ message }}
</div>
{% endfor %}
{% endif %}


<!-- this is where HTML of other files starts -->
{% block body %}

{% endblock %}

<!-- this is where HTML of other files ends -->
<footer class="py-4 bg-dark fixed-bottom text-white-50">
    <div class="container text-center">
        <small class="text-light">Copyright &copy; CoolaBooks</small>
        <div class="row mx-auto text-center justify-content-center">
            <small>
                <a class="text-light" href="/disclaimer">Disclaimer</a>
            </small>
            <small>&nbsp;|&nbsp;</small>
            <small>
                <a class="text-light" href="/privacy">Privacy</a>
            </small>
        </div>
    </div>
</footer>

</body>
</html>