<!-- this imports content from the base file (navigation, footer) -->
{% extends 'books/base.html' %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-5">
            <div class="card">
                <div class="card-header text-info bg-light text-center">
                    <div class = "card-title">
                        Delete a book
                    </div>
                </div>
                <div class="card-body text-center">
                    <!-- loops through the form fields and displays them -->
                    <form method="POST">
                        {% csrf_token %}
                        <p> Are you sure you want to delete {{ ind_books.title }}?</p>
                        <button type = "submit" class="btn btn-info">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}