<!-- this imports content from the base file (navigation, footer) -->
{% extends 'books/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolaBooks</title>
    
</head>
<body>

    

    {% block body %}
    <!-- Code specific for this page goes here -->
    
        <div class="jumbotron text-center">
            <h2>This is the homepage.</h2>
        </div>

    {% endblock %}

</body>
</html>