{% extends 'books/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}">
</head>

<body>

<!-- user cannot access the dashboard withour being logged in -->
{% block body %}
{% if not user.is_authenticated %}
<div class="mt-5 mx-auto my-auto row" style="height: 70vh">
    <h3 class="mx-auto my-auto">Please <a href="/login">login</a> to view this page</h3>
</div>
{% endif %}
{% if user.is_authenticated %}
<div style="margin-top: 10vh">
    <div class="row ml-5 mt-2">
        <h4>{{ user }}'s dashboard</h4>
    </div>
    <div class="row ml-5 mt-2">
        <a class="btn btn-dark" href="{% url 'books:add_book' %}">Add book</a>
        <a class="btn btn-dark ml-3" href="/profile">View profile</a>
    </div>
    <hr/>
    <ul class="nav nav-tabs ml-5 mt-3 mb-5">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/my-books">My books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-dark" href="#">Reserved</a>
        </li>
    </ul>
    <!-- user can see the books they reserved -->
    <div class="row  mt-4 content">
        {% for book in ind_books %}
        {% if book.reserved_by == user %}
        <div class="col-md-4 mb-4">
            <div class="col-xl-8 mx-auto">
                {% include 'partials/_card.html' with title=book.title edition=book.edition author=book.author genre=book.genre location=book.location image=book.image view="reserved" %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

</body>
</html>