<!-- this imports content from the base file (navigation, footer) -->
{% extends 'books/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolaBooks</title>
    <link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}">
</head>

<body>


{% block body %}
<div class="home">
    <div class="header-img row">
        <div class="column my-auto mx-auto main-header">
            <h1 class="text-center text-light mx-auto">Rediscover the joy of reading</h1>
            <h3 class="text-center text-light mx-auto">Pick up or drop at a location of your choosing</h3>
        </div>
    </div>


    </div>
    <div class="row  mt-4 content">
        {% for book in result_title %}
            <div class=" col-md-4 mb-4">
                <div class="col-xl-8 mx-auto">
                {% include 'partials/_card.html' with title=book.title edition=book.edition author=book.author genre=book.genre location=book.location image=book.image view="home" %}
                </div>
            </div>
        {% endfor %}

        {% for book in result_author %}
            <div class=" col-md-4 mb-4">
                <div class="col-xl-8 mx-auto">
                {% include 'partials/_card.html' with title=book.title edition=book.edition author=book.author genre=book.genre location=book.location image=book.image view="home" %}
                </div>
            </div>
        {% endfor %}

        {% for book in result_genre %}
            <div class=" col-md-4 mb-4">
                <div class="col-xl-8 mx-auto">
                {% include 'partials/_card.html' with title=book.title edition=book.edition author=book.author genre=book.genre location=book.location image=book.image view="home" %}
                </div>
            </div>
        {% endfor %}

        {% for book in result_location %}
            <div class=" col-md-4 mb-4">
                <div class="col-xl-8 mx-auto">
                {% include 'partials/_card.html' with title=book.title edition=book.edition author=book.author genre=book.genre location=book.location image=book.image view="home" %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

</body>
</html>