<!-- this imports content from the base file (navigation, footer) -->
{% extends 'books/base.html' %}

{% if messages %}
    {% for message in messages %}
     <div class="text-center alert alert-{{ message.tags }} mt-5">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-5">
            <div class="card">
               <div class="card-body text-center">
                    <h3 class="text-success">
                        Thanks for visiting us. Enjoy your book!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}