<!-- this imports content from the base file (navigation, footer) -->
{% extends 'books/base.html' %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-5">
            <div class="card">
                <div class="card-header text-secondary bg-light text-center">
                    <div class = "card-title">
                        Sign up
                    </div>
                </div>
                <div class="card-body text-center">
                    <!-- this shows the message containing the registration issue -->
                    <div class="text-danger">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <p>username:</p>
                        <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
                        <p>email:</p>
                        <input type="email" name="email" required="" id="id_email">
                        <p>password:</p>
                        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                        <p>confirm password:</p>
                        <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                       
                        <!-- below is the code that loops through the fields nicer, but it shows password 1 and password 2 as fields-->
                        <!-- {% for field in form %}
                            <div class="form-group">
                                {{ field.name }}
                                <br>
                                {{ field.password1 }}
                            </div>
                        {% endfor %} -->
                        <br>
                        <button type = "submit" class="btn-info my-3">Sign up</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
